<div class="contenidoPrincipalDetail">

  <div class="contenidoGeneral">
    <div class="imgProducto">
      <img src={{producto.portada}} alt={{producto.title}} />
    </div>
    <div class="informacionProducto">
      <h3 class="tituloProducto">{{producto.title}}</h3>
      <span class="categoriaProducto">Categoría: {{producto.category}} - Stock: {{producto.stock}}</span>
      <p class="descripcionProducto">Descripción: {{producto.description}}</p>

      <div class='contenedorPrecioCantidad'>
        <p class="precioProducto">$ {{producto.price}}</p>
        <div class='cantidadProducto'>
          <span>Cantidad</span>
          <input type="number" min="1" value="1" name="quantity" id="quantity">
        </div>
      </div>
      <button id={{producto._id}} onclick="agregarACarrito('{{producto._id}}', '{{user.cart}}')" class="button agregarButton"><i class=''></i> AGREGAR AL CARRITO</button>

    </div>
  </div>

</div>
<script src="/js/detalleProducto.js"></script>