<div class="contenidoPrincipalDetail">

  <section class="contenidoGeneral">
    <div class="imgProducto">
      <img class="img" src="http://localhost:8080/api/products/getPortada/{{producto.portada}}" alt={{this.title}} />
    </div>
    <div class="informacionProducto">
      <h3 class="tituloProducto">{{producto.title}}</h3>
      <span class="categoriaProducto">Categoría: {{producto.category}} - Stock: {{producto.stock}}</span>
      <p class="descripcionProducto">Descripción: {{producto.description}}</p>

      <div class='contenedorPrecioCantidad'>
        <p class="precioProducto">$ {{producto.price}}</p>
        <div class='cantidadProducto'>
          <span>Cantidad</span>
          <input type="number" min="1" value="1" name="quantity" id="quantity">
        </div>
      </div>
      <button id={{producto._id}} onclick="agregarACarrito('{{producto._id}}', '{{user.cart}}')" class="button agregarButton"><i class=''></i> AGREGAR AL CARRITO</button>
    </div>
  </section>

  <section class="recomendaciones">
    <h2>PRODUCTOS RECOMENDADOS</h2>
    <div class="cardsProducts">

      {{#each arrayProdRecom}}
        <article class="cardProducto">
            <div class="cardImg">
                <a>
                    <img class="img" src="http://localhost:8080/api/products/getPortada/{{this.portada}}" alt={{this.title}} />
                </a>
            </div>

            <div class="cardBody">
                <a class="nav_link" href="/product-detail?pid={{this._id}}">
                    <h3>{{this.title}}</h3>
                </a>

                <div class="cardPrice">
                    <p>${{this.price}}</p>
                </div>
            </div>
        </article>
      {{/each}}

    </div>
  </section>



</div>
<script src="/js/detalleProducto.js"></script>