<div class="icono-chat">
    <a href="/chat">
        <img src="../../assets/charla.png" alt="Chat" title="Chatea">
    </a>
</div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src='../../assets/flyer1.png' class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src='../../assets/flyer2.png' class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/flyer3.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="productosContenedor">
    <input id="cartId" value={{user.cart}} />
    <input id="userSesion" value={{user.email}} />
    <div class="cardsProducts">
        {{#each arrayProducts}}
        <div class="cardProducto">
            <div class="cardImg">
                <a>
                    {{!-- <img class="img" src={{this.portada}} alt={{this.title}} /> --}}
                    <img class="img" src="http://localhost:8080/api/products/getPortada/{{this.portada}}" alt={{this.title}} />
                </a>
            </div>

            <div class="cardBody">
                <a class="nav_link" href="/product-detail?pid={{this._id}}">
                    <h3>{{this.title}}</h3>
                </a>

                <div class="cardPrice">
                    <p>${{this.price}}</p>
                    <p>Stock: {{this.stock}}</p>
                </div>
            </div>

            <span className="separador"></span>
            <button class="agregarButton" id={{this._id}} onclick="agregarACarrito('{{this._id}}', '{{this.owner}}')">
                <span>AGREGAR AL CARRITO</span>
            </button>
        </div>
        {{/each}}
    </div>
</div>


<div class="botonesNavegacion">
    {{#if hasPrevPage}}
    <a href="/productos?page={{prevPage}}" class="botonNavegacion"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/productos?page={{nextPage}}" class="botonNavegacion"><button>Siguiente</button></a>
    {{/if}}
</div>

</div>

<script src="/js/home.js"></script>